.main-column{
	
}
.column-layout{ 
	max-width: 1300px;
	background-color: #FFF;
	margin: 40px auto 0 auto;
	line-height: 1.65;
	padding: 20px 50px;
	display: flex;
}
.left{
	flex: 2;
	float: left;
   	width: 150px;
    background: white;
    height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;    	
}

.right{
	flex: 7;
	float: left;
	max-width: 500 px;
	margin-top = 4%;
	font-family: sans-serif;
	letter-spacing: 0.5px;
	background: white;
	height: 500px;
	padding-left:20px;
}

.chats{
	
    height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.form-row{
	margin-top: 10px;
	margin-right: 20px;
	display: flex;
}
form-row label{
	padding-right:10px;
}
.form-row input{
	padding-right:10px;
	flex:1;
}


/*message box*/
.Me{ 
	border-bottom: none;
	overflow-wrap: break-word;
	max-width: 100%;
	height : max-content;

}
.meActivity{
	max-height: max-content;
	float: right;
	padding-top: 4px;
	padding-left: 10px;
	padding-bottom: 4px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 100px;
	max-width: max-content;
	background-color: #007bff;
}

.meActivity h4{
	font-size: 14px;
	margin-right: 10px;
	overflow-wrap: break-word;
	color: #fff;
}
.meActivity h6{
	font-size: 10px;
	margin-right: 10px;
	line-height: 2px;
	color: #fff;
	text-align: right;
}

.Them{
	max-width: 100%;
	border-bottom: none;
	overflow-wrap: break-word;
	height : max-content;
}

.themActivity{
	
	max-height: max-content;
	border-bottom: none;
	float: left;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	margin-right: 100px;
	margin-bottom: 5px;
	max-width: max-content;
	background-color: #007bff;
}

.themActivity h4{
	font-size: 14px;
	margin-left: 10px;
	overflow-wrap: break-word;
	color: #fff;
}
.themActivity h6{
	font-size: 10px;
	margin-left: 10px;
	line-height: 2px;
	color: #fff;
}


