{% extends 'layout.html' %}
{% block content %}



<div class=" container" style="padding-top: 20px;">

    <div class="column-layout">
        <div class="left">
            <h4>Chats</h4>
            <ul class="list-group">
                {% if chat_list %}
                    {% for chat in chat_list %}
                        
                        <li class="ml-3 mr-3 mb-2 list-group-item list-group-item-action list-group-item-dark user-list-item"
                            style="cursor: pointer;width:90%;">
                            {{ chat.chat_name }}
                        </li>
                        
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="dropdown-divider"></div>
            <h4>Public Chatrooms</h4>
            <ul class="list-group room-list">
                {% if False and current_user.is_authenticated %}
                <!-- Temporary, will sort this out later -->
                    <li class="ml-3 mr-3 mb-2 list-group-item list-group-item-action list-group-item-dark room-opt"
                        style="cursor: pointer;width:90%; color: #444444"><a href="{{ url_for('home') }}" style="color: #444444">Global Chat</a></li>
                    
                    {% for room in roomList %}
                        <li class="ml-3 mr-3 mb-2 list-group-item list-group-item-action list-group-item-dark room-opt"
                            style="cursor: pointer;width:90%;">{{ room|title }}</li>
                    {% endfor %}
                
                {% endif %}
            </ul>
            
        </div>
        <!-- 
        <div class="right">
            <div class="senderName">
                <div class="container" style="padding: 5px;">
                    <div>
                        <h2 id="room-name" style="padding: 5px;">Global Chat</h2>
                    </div>
                </div>
            </div>
            <div class="chats" id="rightid">
                <div class="d-flex flex-column" id="messages-list">
                </div>
            </div>
            
            <div class="input-group mt-2 mb-3">
                <input type="text" name="" id="user-input" class="form-control" placeholder="Enter your message" autofocus>
                <div class="input-group-append">
                    <input type="submit" id="send-btn" class="btn btn-primary btn-lg" value="Send">
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    
<script>
        var roomName = 'GLOBAL';
      </script>
{% endblock %}