<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask-SocketIO</title>
</head>

<body>
    <ul id="messages-list">

    </ul>
    <input type="text" name="" id="user-input">
    <input type="button" id="send-btn" value="Send">

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>
</body>

</html>